* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
}
.main {
	min-height: 600px;
	background: #0290ef; /* Old browsers */
	background: -moz-linear-gradient(left, #0290ef 0%, #3dabf5 75%, #3dabf5 83%, #3dabf5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #0290ef 0%,#3dabf5 75%,#3dabf5 83%,#3dabf5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #0290ef 0%,#3dabf5 75%,#3dabf5 83%,#3dabf5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 100px 0;
}

.logo {
	margin-bottom: 40px;
	display: inline-block;
	width: 280px;
}

.logo img {
	width: 100%;
}

.wrap {
	width: 1171px;
	margin: 0 auto;
}
.tagline {
	font-family: 'Amatica SC', cursive;
	font-size: 56px;
	line-height: 1;
	color: #fff;
	margin-bottom: 40px;
}

input[type=text]:focus {
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.12), 0 6px 4px -5px rgba(0,0,0,0.16);

}
.about {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	margin-bottom: 60px;
}
/*search block*/
.search-block .search-form div {
	display: inline-block;
	margin-bottom: 10px;
	height: 50px;
	margin-right: 6px;
}

.search-block .search input {
	background-image: url('../images/common/search_icon.png');

}

.search-block .search {
	width: 400px;
}

.search-block .location input {
	background-image: url('../images/common/loc_icon.png');
}
.search-block .search-form div.submit {
	margin-right: 0;
}
.search-block .submit input {
	padding: 0 20px;
	color: #fff;
	background: #ffa726;
	outline: none;
	border: 1px solid #ffa726;
	border-radius: 2px;
	cursor: pointer;
	width: 100%;
}

.search-block .submit input:hover {
	background: #ff9800;
}

.search-block input{
	height: 100%;
	font-size: 20px;
}

.search-block input[type=text] {
	width: 100%;
	padding: 0 12px 0 32px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 7px center;
	background-size: 18px 18px;
}

.search-block .category {
	position: relative;
	width: 340px;
	padding: 0 12px;
	font-size: 20px;
	line-height: 2.2;
	color: #666;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
	outline: none;
	height: 100%;
	cursor: default;
}

.search-block .category:after {
	top: 50%;
	transform: translateY(-25%);
	right: 12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 167, 38, 0);
	border-top-color: #ffa726;
	border-width:8px;
}

.search-block .category-list {
	display: block;
	position: absolute;
	width: 340px;
	border: 1px solid #ccc;
	border-bottom: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12);
	z-index: 10;
}

.search-block .category-list li {
	display: block;
	width: 100%;
	background: #fff;
	line-height: 1.25;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.search-block .category-list li:hover {
	background: #f3f3f3;
}