
.logo,
.header_right {
	display: table-cell;
    vertical-align: middle;
}
.logo a {
	width: 110px;
	display: inline-block;
}
.logo img {
	width: 100%;
	height: auto;
}
.header_right {
	text-align: right;
	height: 40px;
}

.header_right a {
	display: inline-block;
	margin-left: 6px;
}

.header_right .free_post_btn {
	border: 1px solid #FFA726;
	border-radius: 2px;
	padding: 6px 14px;
}

.header_right .sign_in {
	color: #FFA726;
}
.logo a {
	color: #FFA726;

}

.header {
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 1px 3px #ccc;
	z-index: 10;
	height: 49px;
}

.header_in {
	height: 100%;
    display: table;
    width: 100%;
}

.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.main {
	display: table;
	width: 100%;
	padding: 10px 0 0;
}
.item:after,
.post:after {
	display: table;
	content: "";
	clear: both
}

.market {
	width: 50%;
	display: table-cell;
	vertical-align: top;
	padding: 0 15px;

}

.right_section {
	display: table-cell;
	width: 20%;
}

.post {
	background: #fff;
	padding: 10px;
	border: 1px solid #ececec;
	margin-bottom: 8px;
}

.post_head {
	margin-bottom: 10px;
}
.post .p_head {
	margin-bottom: 2px;
}
.post .p_location {
	background: url('../images/common/loc_icon.png') no-repeat left center;
	background-size: 14px 14px;
	padding-left: 16px;
	color: rgba(0,0,0,0.45);
	font-size: 12px;
}


.name {
	font-weight: bold;
}

.profile_pic {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin-right: 4px;
}

.profile_info {
	display: inline-block;
	vertical-align: middle;
}

.profile_info .name {

}

.time_lapse {
	font-size: 12px;
}

.item {
	display: block;
	width: 100%;
	background: url('../images/common/swap_icon2.png') no-repeat center center;
	background-size: 55px 58px;
	margin-bottom: 8px;
}

.have,
.want {
	position: relative;
	width: 45%;
	padding: 10px;
	min-height: 120px;
	background: rgba(0,0,0,0.02);

}
.have {
	float: left;
}

.want {
	float: right;
}

.post li {
	border: 1px solid #ccc;
	background: #fff;
	margin-right: 2px;
	margin-bottom: 2px;
}
.item_image {
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	overflow: hidden;
}

.item_desc {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 2px;
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	min-width: 360px;
	z-index: 2;
}
.thumb,
.profile_thumb {
	position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    height: auto;
    width: auto;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.cash {
	font-size: 28px;
	color: #FFA726;
}

.filter_sidebar {
	display: table-cell;
	vertical-align: top;
	width: 25%;
	background: #fff;
}

.f_sidebar_in {
	height: 100%;
	padding: 25px;
}
.search_block .search_form {
	height: 100%;
}

.search_block .search_form span {
	display: block;
	margin-bottom: 10px;
	height: 40px;
}


.search_block .search input {
	background-image: url('../images/common/search_icon.png');
	
}

.search_block .location input {
	background-image: url('../images/common/loc_icon.png');
}

.search_block .submit input {
	padding: 0 20px;
	color: #fff;
	background: #FFA726;
	outline: none;
	border: 1px solid #FFA726;
	border-radius: 2px;
	cursor: pointer;
}

.search_block .submit input:hover {
	background: #ff9800;
}

.search_block input {
	height: 100%;
}

.search_block input[type=text] {
	width: 100%;
	padding: 0 12px 0 32px;
	background-color: #fff; 
	background-repeat: no-repeat;
	background-position: 7px center;
	background-size: 18px 18px;
}

.tagline {
	font-size: 20px;
	margin-bottom: 20px;
}

.interested {
	background: url('../images/common/interested_icon2.png') no-repeat left center;
	background-size: 14px 14px;
	padding-left: 16px;
	color: #58595b;
	font-size: 12px;
}

.banner {
	background: #fff;
	color: #666;
	padding: 60px 20px;
	text-align: center;
	font-size: 26px;
}