.logo,
.header-right {
	display: table-cell;
    vertical-align: middle;
}

.logo a {
	width: 110px;
	display: inline-block;
}

.logo img {
	width: 100%;
	height: auto;
}

.header-right {
	text-align: right;
	height: 40px;
}

.header-right a {
	display: inline-block;
	margin-left: 6px;
}

.header-right .free-post-btn {
	border: 1px solid #ff8b26;
	border-radius: 2px;
	padding: 6px 14px;
}

.header-right .sign-in {
	color: #ff8b26;
	transition: all 0.35s ease;
}

.header-right .sign-in:hover {
	text-decoration: underline;
}

.logo a {
	color: #ff8b26;

}

.header {
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 1px 3px #ccc;
	height: 55px;
}

.header-in {
	height: 100%;
    display: table;
    width: 100%;
}

.wrap {
	width: 100%;
	max-width: 1171px;
	margin: 0 auto;
}

.main {
	width: 100%;
	padding: 10px 0 0;
}

.main::before,
.main::after,
.filter-sidebar-container::before,
.filter-sidebar-container::after {
	display: table;
	content: "";
}

.filter-sidebar-container::after,
.main::after {
	clear: both;
}

.item:after,
.post:after {
	display: table;
	content: "";
	clear: both
}

.market {
	width: 577px;
	margin-left: 292px;
	float: left;
	vertical-align: top;
	padding: 0 15px;
}

.filter {
	padding: 15px;
	margin-bottom: 8px;
}

.f-results {
	line-height: 1.4;
	font-size: 14px;
	font-weight: normal;
}

.f-results a:hover {
	text-decoration: underline;
}

.f-results .bold {
	font-weight: bold;
}
.f-search,
.f-category,
.f-location {
	color: #ff8b26;
}
.right-section {
	float: left;
}

.right-section-con {
	position: fixed;
	width: 300px;

}

.post {
	position: relative;
	padding: 15px;
	margin-bottom: 12px;
}

.post-settings {
	position: absolute;
	top: 17px;
	right: 15px;
}

.post-settings .down-arrow {
	text-indent: -999px;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	width: 10px;
	height: 10px;
	background: url(../images/common/down-arrow.png) no-repeat top left;
	background-size: contain;
	float: right;
}

.post-settings ul {
	width: 130px;
	margin-top: 16px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12);
	background: #fff;
}

.post-settings ul li {
	cursor: pointer;
	padding: 6px 8px;
	background: #fff;
}

.post-settings ul li:hover {
	background: #ff8b26;
	color: #fff;
}
.post-head {
	margin-bottom: 13px;
}
.post .p-head {
	margin-bottom: 3px;
	line-height: 1.1;
}
.post .p-location {
	background: url('../images/common/loc_icon_gray.png') no-repeat left center;
	background-size: 14px 14px;
	padding-left: 16px;
	color: rgba(0,0,0,0.45);
	font-size: 12px;
}

.name {
	font-weight: bold;
}

.post-head .profile-pic {
	position: relative;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin-right: 4px;
}

.post-head .profile-info {
	display: inline-block;
	vertical-align: top;
}

.time-lapse {
	font-size: 12px;
}

.item {
	display: block;
	width: 100%;
	background: url('../images/common/swap_icon2.png') no-repeat center center;
	background-size: 55px 58px;
	margin-bottom: 12px;
}

.have,
.want {
	position: relative;
	width: 180px;
	border: 1px solid rgba(204, 204, 204, 0.33);
}
.have {
	float: left;
}

.want {
	float: right;
}


.item-image {
	position: relative;
	display: inline-block;
	height: 180px;
	width: 180px;
	overflow: hidden;
}

.thumb,
.profile-thumb {
	position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    height: auto;
    width: auto;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.cash {
	font-size: 28px;
	color: #ff8b26;
}

.filter-sidebar {
	float: left;
}

.filter-sidebar-container {
	position: fixed;
	width: 292px;

}

/*search block*/
.search-block .search-form div {
	display: block;
	margin-bottom: 10px;
	height: 40px;
}

.search-block .search input {
	background-image: url('../images/common/search_icon.png');

}

.search-block .location input {
	background-image: url('../images/common/loc_icon.png');
}

.search-block .submit input {
	padding: 0 20px;
	color: #fff;
	background: #ff8b26;
	outline: none;
	border: 1px solid #ff8b26;
	border-radius: 2px;
	cursor: pointer;
	width: 100%;
}

.search-block .submit input:hover {
	background: #ff9800;
}

.search-block input{
	height: 100%;
}

.search-block input[type=text] {
	width: 100%;
	padding: 0 12px 0 32px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 7px center;
	background-size: 18px 18px;
}

.search-block .category {
	position: relative;
	width: 100%;
	padding: 0 12px;
	line-height: 2.5;
	color: #666;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
	outline: none;
	height: 100%;
	cursor: default;
	cursor: pointer;

}

.search-block .category:after {
	top: 50%;
	transform: translateY(-25%);
	right: 12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 167, 38, 0);
	border-top-color: #ff8b26;
	border-width: 6.5px;
}

.search-block .category-list {
	display: block;
	position: absolute;
	width: 250px;
	border-bottom: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12);
	z-index: 10;

}

.search-block .category-list li {
	display: block;
	width: 100%;
	background: #fff;
	line-height: 1.25;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px;
}

.search-block .category-list li:last-child {
	border-bottom: none;
}

.search-block .category-list li:hover {
	background: #ff8b26;
	color: #fff;
	cursor: pointer;
}

.tagline {
	font-size: 20px;
	margin-bottom: 20px;
}

.interested {
	background: url('../images/common/interested_icon2.png') no-repeat left center;
	background-size: 14px 14px;
	padding-left: 18px;
	color: #58595b;
	font-size: 12px;
}

.banner {
	color: #666;
	padding: 60px 20px;
	text-align: center;
	font-size: 26px;
}



.f-sidebar-in,
.profile-section {
	padding: 20px;
}

.profile-link {
	display: block;
	width: 100%;
	max-height: 200px;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 1px;
}

.profile-link-thumb {
	width: 100%;
	display: block;
}

.profile-section {
	margin-bottom: 10px;
}

.profile-details {
	margin-top: 10px;
}

.profile-details-item {
	margin-bottom: 5px;
}

.profile-details-item:last-of-type {
	margin-bottom: 0;
}

.profile-details-item-badges {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-details-item-badges img {
	margin: 0 5px;
}

.profile-details-item a:hover {
	text-decoration: underline;
}

.no-more-post {
	text-align: center;
	margin: 15px 0;
	font-size: 16px;
	color: #999;
	padding: 15px;
	cursor: default;
}


/*profile tooltip*/
.tooltip-p {
	position: absolute;
	padding: 10px;
	z-index: 10;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12);
	width: 320px;
	margin-top: 4px;
}

.tt-profile-left {
	margin-right: 8px;
}
.tt-profile-left,
.tt-profile-right {
	float: left;
}

.tt-profile-right {
	width: 210px;
}

.tt-profile-pic {
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
}

.tt-profile-right .tt-profile-desc {
	padding-bottom: 3px;
	margin-bottom: 6px;
	font-weight: normal;
}

.tt-profile-right .tt-profile-desc .name {
	margin-bottom: 2px;
}

.tt-profile-right .badges-list {
	display: flex;
}

.tt-profile-right .badges-list li {
	position: relative;
}

.tt-profile-right .badges-list li span{
	position: absolute;
	bottom: -30px;
	width: 155px;
	left: -62px;
	background: #ff8b26;
	padding: 5px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.12);
}